<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkIndeterminateDisabled" disabled>
    <label class="form-check-label" for="checkIndeterminateDisabled">
      Disabled indeterminate checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkDisabled" disabled>
    <label class="form-check-label" for="checkDisabled">
      Disabled checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkCheckedDisabled" checked disabled>
    <label class="form-check-label" for="checkCheckedDisabled">
      Disabled checked checkbox
    </label>
</div>
