<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Liste des classes</h4>
            </div>

            <div class="col-4">
                <h4>Nombre de classe</h4>
            </div>

            <div class="col-4">
                <button class="btn btn-primary" (click)="addClasse()">Ajouter une classe</button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Nombre d'éléves</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dfe</td>
                    <td>L2</td>
                    <td>36</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Dbe</td>
                    <td>L2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Apd</td>
                    <td>L2</td>
                    <td>47</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Abd</td>
                    <td>L2</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>


