<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Formulaire matiere</h4>
            </div>
            <div class="col-4">
                <h4>Nombre de matieres</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <form [formGroup]="matiereform" (ngSubmit)="storeMatiere()">
                <div class="row">
                    <div class="col-6">
                        <label for="nom" class="form-label">Code</label>
                        <input type="nom" class="form-control" formControlName="code" id="code">
                    </div>
                    <div class="col-6">
                        <label for="niveau" class="form-label">Nom</label>
                        <input type="niveau" class="form-control"  formControlName="nom" id="nom">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="serie" class="form-label">Description</label>
                        <input type="serie" class="form-control" formControlName="description" id="description">
                    </div>
                    <div class="col-6">
                        <label for="nombres_eleve"class="form-label">Coefficient</label>
                        <input type="nombres_eleve" class="form-control" formControlName="coefficient" id="coefficient">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
