bonjours
<button class="btn btn-primary">click me</button>
<button class="btn btn-success">bouton vert</button>
<button class="btn btn-danger">bouton rouge</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<input class="btn btn-primary" type="submit" value="Submit">



<table class="table">
    <thead>
        <tr scope="col">Bonjour</tr>
        <tr scope="col">fatima</tr>
        <tr scope="col">bob</tr>
        <tr scope="col">🎈🎈🎓</tr>
    </thead>
    <body>
        <tr>
            <th scope="row">1</th>
            <td>mark</td>
            <td>otto</td>
            <td>voiture</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>jocob</td>
            <td>thornton</td>
            <td>view</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">larry the brird</td>
            <td>gddth</td>
        </tr>
    </body>

</table>


