<div class="container-fluid mt-4">
    <div class="card-header text-center bg-light py-2 shadow-sm rounded-2">
        <div class="row">
            <div class="col-4">
                <h4 class="text-primary fw-bold"><b>Liste des classes</b></h4>
            </div>
            <div class="col-4">
                <h4 class="text-primary fw-bold"><b>Nombre de classes ({{ nbreClasse }})</b></h4>
            </div>
            <div class="col-4">
                <a class="btn btn-primary" (click)="addClasse()"><b>Ajouter une classe</b></a>
            </div>
        </div>
    </div>
    <div class="card-body container my-2">
        <table class="table table-light table-hover table-sm">
            <thead class="table-light">
            <tr class="text-center">
                <th>Nom</th>
                <th>Niveau</th>
                <th>Serie</th>
                <th>Nombre d'élèves</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let item of classes">
                <td>{{ item.nom }}</td>
                <td>{{ item.niveau }}</td>
                <td>{{ item.serie }}</td>
                <td>{{ item.nombre }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

