<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des matieres</h4>
      </div>

      <div class="col-4">
        <h4>Nombres des matieres {{nbreMatiere}}</h4>
      </div>

      <div class="col-4">
        <button class="btn btn-primary" (click)="addMatiere()">Ajouter une matiere</button>
      </div>

    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">nbreMatiere</th>
          <th scope="col">serie</th>
          <th scope="col">niveau</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let matiere of matieres">
          <th scope="row">{{matiere.nom}}</th>
          <td>{{matiere.nbreMatiere}}</td>
          <td>{{matiere.serie}}</td>
          <td>{{matiere.niveau}}</td>
           <td>
           <button class="btn btn-warning btn-sm me-2" (click)="editMatiere(matiere)">
           <i class="bi bi-pencil-square"></i>
           </button>
           <button class="btn btn-danger btn-sm" >
             <i class="bi bi-trash"></i>
           </button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


