<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des classes</h4>
      </div>

      <div class="col-4">
        <!-- Protégé avec *ngIf pour éviter erreur si classes undefined -->
        <h4 *ngIf="classes">Nombre de classes {{ classes.length }}</h4>
      </div>

      <div class="col-4">
        <button class="btn btn-primary" (click)="addClass()">Ajouter une classe</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table" *ngIf="classes && classes.length > 0">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Niveau</th>
          <th scope="col">Serie</th>
          <th scope="col">Nombre d'eleves</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let classe of classes">
          <th scope="row">{{ classe.nom }}</th>
          <td>{{ classe.niveau }}</td>
          <td>{{ classe.serie }}</td>
          <td>{{ classe.nombre }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Message si aucune classe -->
    <p *ngIf="classes && classes.length === 0" class="text-center text-muted">
      Aucune classe trouvée pour le moment.
    </p>

    <!-- Affichage JSON pour debug (optionnel) -->
    <!-- <pre>{{ classes | json }}</pre> -->
  </div>
</div>