<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Liste des matieres</h4>
            </div>

            <div class="col-4">
                <h4>Nombre de classes {{matieres.length}}</h4>
            </div>

            <div class="col-4">
                <button class="btn btn-primary" (click)="addClasse()">Ajouter une matiere</button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <table class="table" *ngIf="matieres && matieres.length > 0">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Coefficient</th>
                    <th scope="col">Nombre de jours</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let matiere of matieres">

                    <th scope="row">{{matiere.nom}}</th>
                    <td>{{matiere.description}}</td>
                    <td>{{matiere.coefficient}}</td>
                    <td>{{matiere.nombre_jour}}</td>
                </tr>
                
            </tbody>
        </table>
        <!-- Message si aucune matiere -->
    <p *ngIf="matieres && matieres.length === 0" class="text-center text-muted">
      Aucune matieres trouvée pour le moment.
    </p>

    <!-- Affichage JSON pour debug (optionnel) -->
    <!-- <pre>{{ classes | json }}</pre> -->

    </div>

</div>


