
<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
              <h4>Liste des classes</h4>
            </div>
            <div class="col-4">
              <h4>Nombre de classes</h4>
            </div>
            <div class="col-4">
                <button class="btn btn-primary">Ajouter une classe</button>
            </div>
        </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Nom</th>
            <th scope="col">Niveau</th>
            <th scope="col">Nombre d'élèves</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Rama</td>
            <td>6</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Modou</td>
            <td>1</td>
            <td>28</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Aline</td>
            <td>4</td>
            <td>90</td>
          </tr>
        </tbody>
      </table>
    </div>


</div>

