<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Liste des matieres</h4>
            </div>

            <div class="col-4">
                <h4>Nombre de matieres|{{coefficient}}</h4>
            </div>

            <div class="col-4">
                <button class="btn btn-primary" (click)="addMatiere()">Ajouter une matiere</button>
            </div>

        </div>
    </div>

    <div class="card-body">
    </div>
       <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Serie</th>
                <th scope="col">Coefficient</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matiere of matieres">
                <td scope="row">{{matiere.nom}}</td>
                <td>{{matiere.description}}</td>
                <td>{{matiere.serie}}</td>
                <td>
                  <button class="btn btn-warning btn-sm me-2" (click)="editMatiere(matiere)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    
    
</div>

