<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des classes</h4>
      </div>

      <div class="col-4">
        <h4>Nombres des classes {{nbreClass}}</h4>
      </div>

      <div class="col-4">
        <button class="btn btn-primary" (click)="addClasse()">Ajouter une classe</button>
      </div>

    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">nbreClass</th>
          <th scope="col">serie</th>
          <th scope="col">niveau</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classe of classes">
          <th scope="row">{{classe.nom}}</th>
          <td>{{classe.nbreClass}}</td>
          <td>{{classe.serie}}</td>
          <td>{{classe.niveau}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

