<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Nombre de classe</h4>
            </div>
            <div class="col-4">
                <h4>Nombre de classes</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <form [formGroup]="classform" (ngSubmit)="storeClasse()">
                <div class="row">
                    <div class="col-6">
                        <label for="nom" class="form-label">NOM</label>
                        <input type="nom" class="form-control" formControlName="nom" id="nom">
                    </div>
                    <div class="col-6">
                        <label for="Niveau" class="form-label">Niveau</label>
                        <input type="niveau" class="form-control" formControlName="niveau" id="niveau">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="serie" class="form-label">Serie</label>
                        <input type="serie" class="form-control" formControlName="serie" id="serie">
                    </div>
                    <div class="col-6">
                        <label for="Nombre_eleve" class="form-label">Nombre d'eleve</label>
                        <input type="nombre_eleve" class="form-control" formControlName="nombre_eleve" id="nombre_eleve">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>