<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Listes des classes</h4>
            </div>
            <div class="col-4">
                <h4>nombreClasse {{classes.length}}</h4>
            </div>
            <div class="col-4">
                <button class="btn btn-btn-primary" (click)="addClasse()">Ajouter une classe</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Niveau</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Nombre d'élève</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let classe of classes">
                    <th scope="row">{{classe.nom}}</th>
                    <td>{{classe.niveau}}</td>
                    <td>{{classe.serie}}</td>
                    <td>{{classe.nombre_eleve}}</td>
                    <!-- Exemple dans une table ou une liste -->
                    <td>
                        <button class="btn btn-warning btn-sm me-2" (click)="editClasse(classe)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteClasse(classe)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>