<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
              <h4>Liste des Matiere</h4>
            </div>
            <div class="col-4">
              <h4>Nombre de matieres {{nombres_eleve}}</h4>
            </div>
            <div class="col-4">
                <button class="btn btn-primary"(click)="addMatiere()">Ajouter une Matiere</button>
            </div>
        </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Niveau</th>
            <th scope="col">Serie</th>
            <th scope="col">Nombres_eleves</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let Matieres of matiere">
            <th scope="row">{{Matieres.nom}}</th>
            <td>{{Matieres.niveau}}</td>
            <td>{{Matieres.serie}}</td>
            <td>{{Matieres.nombres_eleve}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  
  
  </div>