/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.btn-btn-moi{
    background-color: rgb(151, 48, 211);
}
.btn-btn-primary{
    background-color: blueviolet;
}

button {
    padding: 10px;
    border-radius: 6px;
    
}