/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.row{
    /* background-color: rgb(228, 86, 204); */
    background-color: rgb(142, 181, 226);

    padding: 10px;
    margin-top: 15px;
}
.btn-btn-primary{
    background-color: rgb(42, 125, 219);
    
}

