<div class="card container-fluid">
  <div class="card-header">
      <div class="row">
          <div class="col-4">
              <h4>Liste des classes</h4>
          </div>

          <div class="col-4">
              <h4>Nombre de classes {{nombres_eleve}}</h4>
          </div>

          <div class="col-4">
              <button class="btn btn-primary"(click)="addClasses()">Ajouter une classes</button>
          </div>
      </div>
  </div>
  <div class="card-body">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Niveau</th>
                  <th scope="col">Serie</th>
                  <th scope="col">Nombres_eleve</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor= "let classe of classes">
                  <th scope="row">{{classe.nom}}</th>
                  <td>{{classe.niveau}}</td>
                  <td>{{classe.serie}}</td>
                  <td>{{classe.Nombres_eleve}}</td>
              </tr>
              
          </tbody>
      </table>

  </div>


</div>