<p>l<div class=" card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Nombre de matiere{{nbrClasse}}</h4>
            </div>
            <div class="col-4">
                <h4>Nombre de matiere</h4>
            </div>
            <div class="col-4">
                <Button class="btn btn-outline-success"(click)="addClasse()">Ajouter une matiere</Button>
            </div>
            

        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Type de matiere</th>
                <th scope="col">Nombre de matiere</th>
                <th scope="col">formateur</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matiere of matieres">
                <th scope="row">{{matiere.Nom}}</th>
                <td>{{matiere.niveau}}</td>
                <td>{{matiere.serie}}</td>
                <td>{{matiere.nombres_eleve}}</td>
              </tr>
              
            </tbody>
          </table>
   
    
    </div>
  
</div>


