<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="-card container-fluid">

    <div class="-card-hearder">
        <div class="row">
            <div class="col-4">
                <h4>Liste des matieres</h4>
            </div>

            <div class="col-4">
                <h4 *ngIf="matieres">Nombre de matières : {{matieres.length}}</h4>
            </div>

            <div class="col-4">
                <button type="button" class="btn btn-btn-primary" (click)="addMatiere()">Ajouter une matière</button>
            </div>
        </div>
    </div>
<div class="card-body">                         
<table class="table" *ngIf="matieres && matieres.length > 0">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Coefficient</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matiere of matieres">
        <th scope="row">{{matiere.Code}}</th>
        <td>{{matiere.Nom}}</td>
        <td>{{matiere.Description}}</td>
        <td>{{matiere.Coefficient}}</td>
         <td><button (click)="deleteMatiere()"><i class="fas fa-trash delete-icon"></i></button></td>
        <td>
          <button (click)="editMatiere(matieres)">
          <!-- SVG de crayon -->
              <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="#0275d8" viewBox="0 0 24 24">
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.42l-2.34-2.34a1.003 1.003 0 0 0-1.42 0l-1.83 1.83 3.75 3.75 1.84-1.82z"/>
              </svg>
          </button>
        </td>
    </tr>
    </tbody>
  </table>
     <!-- message si n'ya aucun matiere -->
   <p *ngIf="matieres && matieres.length === 0 ">
    Aucune matiere trouvée pour le moment.
   </p>
   <!-- Affichage json pour debug (optionnel) -->
    <!-- <pre>{{ classes | json </pre>}} -->
  </div>
</div>
