<h4 class="text-center">Debut du composant</h4>
<div class="card container-fluid">
    <div class="card-header">
     <div class="row">
        <div class="col-4">
          <h4>liste des matiere</h4>
        </div>
        <div class="col-4">
          <h4>Nombre de matiere</h4>
        </div>
        <div class="col-4">
          <button class="btn btn-primary">Ajouter une matiere</button>
        </div>

     </div>

    </div>

    <div class="card-body container">
        <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Coefficient</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Markhn b</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>social</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>