<div class=" card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>list des Classes</h4>
            </div>
            <div class="col-4">
                <h4>Nombre de Classes{{nbrClasse}}</h4>
            </div>
            <div class="col-4">
                <Button class="btn btn-outline-success"(click)="addClasse()">Ajouter une classe</Button>
            </div>
            

        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Non</th>
                <th scope="col">Niveau</th>
                <th scope="col">Nonbre d'éleve</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classe of classes">
                <th scope="row">{{classe.Nom}}</th>
                <td>{{classe.niveau}}</td>
                <td>{{classe.serie}}</td>
                <td>{{classe.nombres_eleve}}</td>
              </tr>
             
            
            </tbody>
          </table>
   
    
    </div>
  
</div>

