<h3 class="text-secondary text-center py-2"><b>Debut Composant Matiere</b></h3>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4 class="border-start border-2 ps-1"><b>Liste des Matieres</b></h4>
            </div>
            <div class="col-4">
                <h4 class="border-start border-2 ps-1"><b>Nombre de Matieres</b></h4>
            </div>
            <div class="col-4">
                <button class="btn btn-primary"><b>Ajouter une matiere</b></button>
            </div>
        </div>
    </div>
    <div class="card-body container my-2">
        <table class="table table-primary table-striped table-hover rounded table-borderless">
            <thead>
            <tr class="text-center">
                <th>Code</th>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Nombre d'élèves</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td>07</td>
                <td>Oumar Diao</td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr class="text-center">
                <td>07</td>
                <td>Oumar Diao</td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr class="text-center">
                <td>07</td>
                <td>Oumar Diao</td>
                <td>2</td>
                <td>20</td>
            </tr>
            </tbody>
        </table>
    </div>
  
</div>