<div class="card container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h4>Liste des classes</h4>
      </div>

      <div class="col-4">
        <h4>Nombre de classes {{nombre_eleve}}</h4>
      </div>

      <div class="col-4">
        <button class="btn btn-primary" (click)="addClasse()">Ajouter une classe</button>
      </div>

    </div>
  </div>

  <div class="card-body">
  </div>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Nom</th>
        <th scope="col">Nombre_eleve</th>
        <th scope="col">Serie</th>
        <th scope="col">Niveau</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classe of classes">
        <td scope="row">{{classe.nom}}</td>
        <td>{{classe.nombre_eleve}}</td>
        <td>{{classe.serie}}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editClasse(classe)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>


    </tbody>
  </table>


</div>