
<div class="card container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h4>Liste des matiere</h4>
            </div>
  
            <div class="col-4">
                <h4>Nombre de matiere {{nombres_eleve}} </h4>
            </div>
  
            <div class="col-4">
              <button class="btn btn-primary" (click)="addMatiere()">Ajouter une matiere</button>
              
            </div>

  
        </div>
  
    </div>
    <div class="card-body">
  
    </div>
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Nom</th>
            <th scope="col">Niveau</th>
            <th scope="col">Nombre d'éléve</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor= "let classe of matieres">
            <th scope="row"> {{classe.nom}}</th>
            <th>{{classe.nombres_eleve}}</th>
            <th> {{classe.serie}}</th>
            <th> {{classe.niveau}}</th>
          </tr>
        
        </tbody>
      </table>
   
  </div>
  
  
  
